@import ./variabales.sass
    
*
    text-decoration: none
    color: black
    box-sizing: border-box

body
    @include backgroundMain
ul
    list-style: none
button, input, textarea
    border: none
    outline: none

.Header-Co   
    display: block
    position: absolute
    .Header
        font-family: $font_Bangers
        margin-left: 30px
        @include back_button

  