.indicator
    position: relative
    width: 35px
    height: 35px
    margin: 30px 0px 0px 120px

    transform: rotate(135deg)
    span
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        box-sizing: border-box
        border: none
        border-bottom: 6px solid #fff
        border-right: 6px solid #fff
        animation: animate 1.2s linear infinite
        
        &:nth-child(1)
            top: -18px
            left: -18px
            animation-delay: 0s 
            border-color: red

        &:nth-child(2)
            top: -12px
            left: -12px
            animation-delay: 0.2s
            border-color: orange
      
        &:nth-child(3)
            top: -6px
            left: -6px
            animation-delay: 0.4s
            border-color: yellow
        
        &:nth-child(4)
            top: 0
            left: 0
            animation-delay: 0.6s
            border-color: green
        
        &:nth-child(5)
            top: 6px
            left: 6px
            animation-delay: 0.8s
            border-color: aqua

        &:nth-child(6)
            top: 12px
            left: 12px
            animation-delay: 1s
            border-color: blue

        &:nth-child(7)
            top: 18px
            left: 18px
            animation-delay: 1.2s
            border-color: purple

        // &:nth-child(1)
        //     top: -45px
        //     left: -45px
        //     animation-delay: 0s

        // &:nth-child(2)
        //     top: -30px
        //     left: -30px
        //     animation-delay: 0.2s
      
        // &:nth-child(3)
        //     top: -15px
        //     left: -15px
        //     animation-delay: 0.4s
        
        // &:nth-child(4)
        //     top: 0
        //     left: 0
        //     animation-delay: 0.6s
        
        // &:nth-child(5)
        //     top: 15px
        //     left: 15px
        //     animation-delay: 0.8s

        // &:nth-child(6)
        //     top: 30px
        //     left: 30px
        //     animation-delay: 1s

        // &:nth-child(7)
        //     top: 45px
        //     left: 45px
        //     animation-delay: 1.2s

@keyframes animate
    0%
        border-color: red
        transform: translate(0,0)
    
    14%
        border-color: orange
        transform: translate(6px,6px)

    28%
        border-color: yellow
        transform: translate(6px,6px)

    42%
        border-color: green
        transform: translate(6px,6px)

    56%
        border-color: aqua
        transform: translate(6px,6px)

    70%
        border-color: blue
        transform: translate(6px,6px)

    84%
        border-color: purple
  
