@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,900')

@import url("https://fonts.googleapis.com/css?family=Bangers")

$f-z: 12px
$font_Popins: 'Poppins', sans-serif
$font_Bangers: "Bangers", cursive
$font-Roboto: "Roboto", sans-serif
$color_White: white

$lime_button: rgb(27,221,106)
$pink_label: rgb(255,137,139)

$common_button: rgb(235,238,243)

// $gradientColors: red 13%, orange 26%, yellow 39%, green 52%, aqua 65%, blue 78%, purple 91%   
$gradientColors: #f6e6b4 14%, #ed9017 61%
$shadowColor: #FFE934

@-webkit-keyframes slide 
    0% 
        opacity: 0.001
        transform: translateX(-100%)

    100% 
        opacity: 0.999
        transform: translateX(0%)

@-webkit-keyframes fadeOut
    0% 
        opacity: 0.001

    100% 
        opacity: 0.999

@mixin gradient
    background: #f6e6b4
    background: -moz-linear-gradient(-45deg, $gradientColors)
    background: -webkit-linear-gradient(-45deg, $gradientColors)
    background: linear-gradient(135deg, $gradientColors)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=1 )

@mixin background
    background-image: url(../../assets/images/5.gif) 
    //background-position: top right, top left

@mixin backgroundMain
    background-image: url(./assets/images/2.png)
    // , url(./assets/images/1.png) 
    // background-repeat: no-repeat
    // background-position: 

@mixin back_button
    padding: 20px 100px
    font-family: $font_Bangers
    font-size: 2rem

@mixin button 
    padding: 20px 100px
    font-family: $font_Bangers
    font-size: 2rem
    @include gradient

@mixin shadowRainbow
    -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0)
    box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0)

@mixin animSlide 
    animation: .4s slide

@mixin animFadeOut 
    animation: .4s fadeOut
