@import ../../variabales.sass
    
.ChatPage_Wrapper
    display: flex
    justify-content: center
    .ChatRoom_Form
        display: flex
        justify-content: center
        width: 70%
        height: 100vh
        flex-wrap: wrap
        align-content: center
        .Form_Messages-Container
            height: calc(100vh - 230px)
            width: 100%
            overflow-y: scroll
            overflow-x: hidden
            box-shadow: 0px 0px 10px 10px black
            background-color: white
            .Message, .My-Message
                display: flex
                flex-wrap: wrap
                width: 100%
                margin: 10px
                padding: 0px 10px
                @include animFadeOut
                .Meassage-Container
                    padding: 5px 20px  
                    .Message_User-Name
                        flex-basis: 100%
                        font-size: 1.3rem
                    .Message_Text
                        display: flex
                        font-size: 1.0rem
                        flex-basis: 100%
                    .Message_Button
                        transition: 0.3s all
                        opacity: 0.001
                        padding: 3px
                        margin: 3px
            .Message
                .Meassage-Container
                    background-color: grey
                    border-bottom-right-radius: 20px  
                    .Message_User-Name
                        text-align: left
            .My-Message
                position: relative
                justify-content: flex-end
                .Meassage-Container
                    background-color: purple
                    border-bottom-left-radius: 20px
                    &:hover
                        .Message_Button
                            opacity: 1
                    .Message_User-Name
                        text-align:right

        .Form_WriteMsg
            width: 100%
            height: 100px
            margin-top: 50px
            display: flex
            justify-content: center
            .WriteMsg_Text
                border: 1px solid #000
                border-radius: 20px
                padding: 10px
                min-width: 480px
                resize: none    
            .WriteMsg_Btn
                align-self: center
                padding: 20px
                border-radius: 10px
                margin-left: 10px

.Form_Messages-Container::-webkit-scrollbar
    width: 22px
    height: 12px
.Form_Messages-Container::-webkit-scrollbar-track
    background: rgba(0, 0, 0, 0.1)
.Form_Messages-Container::-webkit-scrollbar-thumb
    background: rgba(0, 0, 0, 0.5)