<html>
  <head>
    <link
      rel="stylesheet"
      href="<%=htmlWebpackPlugin.files.chunks.main.css %>"
    />
  </head>

  <body>
    <!-- <ricardo>
      <img src="https://steamuserimages-a.akamaihd.net/ugc/949597721089838072/4C0E46016EE7ABF8440FCA7B9B5AB60EF55AA969/" alt="Ricardo Milos">
      <ricardo> -->
    <title>Arcanoid</title>
    <div id="window">
      <div id="platform"></div>
    </div>
    <div id="test1"></div>

    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>
