.CreditsPage
    display: flex
    flex-direction: row
    justify-content: center
    height: 100vh
    flex-wrap: wrap
    h1
        text-align: center
        width: 100%
    .Ger
        font-size: 3em
        padding-top: 70px
        text-align: center
        width: 50%
        background: url('ger.jpg') no-repeat center center
        height: 100vh
    .Huski
        font-size: 3em
        padding-top: 70px
        text-align: center
        width: 50%
        background: url('huski.jpg') no-repeat center center
        height: 100vh