@import ../../variabales.sass

.Main 
    @include background
    display: flex
    height: 100vh
    font-family: $font_Bangers
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    .Priest
        display: flex
        flex-direction: row
        justify-content: space-around
        .Aint
            font-size: 2rem
        .Saint
            font-size: 2rem
    .Menu_Item 
        z-index: 1
        margin-top: 40px
        @include shadowRainbow
        transition: all 0.3s
        @include button
        @include gradient
        @include animSlide
        &:hover 
            transform: translate(5px, 5px)
            box-shadow: 4px 4px 0px 0px $shadowColor
        &:active 
            color: white
            transform: translate(5px, 5px) scale(0.9)
            box-shadow: 4px 4px 0px 0px $shadowColor
