@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700")

@import ../../variabales.sass

.Form-Container 
  height: 100vh
  display: flex
  color: $color_White
  @include background
  font-family: $font-Roboto
  justify-content: center
  // box-shadow: inset 0px 0px 60px 20px black
  .Form 
    min-width: 420px
    background-color: #f7931e
    padding: 25px 40px
    box-shadow: 0px 0px 20px 24px $shadowColor
    display: flex
    flex-wrap: wrap
    justify-content: center
    .PageSwitcher 
      display: flex
      justify-content: flex-end
      // flex-direction: column-reverse
      flex: 100%
      align-self: flex-start
      .PageSwitcher__Item 
        cursor: pointer
        color: rgb(103, 106, 110)
        padding: 10px 25px
        font-size: 0.9rem
        border-radius: 25px
        background-color: #fff0bc
  .Form-Items 
    .FormTitle 
      color: #707c8b
      font-weight: 300
      margin-top: 40px
      margin-bottom: 40px
      text-align: center
    .FormCenter
      .FormFields
        .FormField 
          text-align: center
          margin-bottom: 40px

.FormField__Label 
  text-align: center
  display: block
  text-transform: uppercase
  font-size: 1em
  color: white

.FormField__Input 
  width: 85%
  background-color: transparent
  color: rgb(253, 240, 228)
  border-bottom: 1px solid #445366
  font-size: 1rem
  padding-bottom: 10px
  margin-top: 10px

.FormField__Input::placeholder 
  color: #616e7f

.FormField__Button 
  background-color: #fff0bc
  color: #707c8b
  border: none
  outline: none
  border-radius: 25px
  padding: 15px 70px
  font-size: 1em
  font-weight: 500

.FormField__Link 
  color: #66707d
  text-decoration: none
  display: inline-block
  border-bottom: 1.5px solid #225e62
  padding-bottom: 5px
