@import ../../variabales.sass

.RatingTable
    display: flex
    justify-content: center
    padding-top: 180px
    .RatingTable_Wrapper
        align-self:
        justify-content: center
        border-radius: 10%
        width: 70%
        background: #fff0bc
        .RatingTable_Table
            .RatingTable_Head
                .RatingTable_Head_Index
                    text-align: center
            .RatingTable_Body
                font-family: $font_Bangers
                text-align: justify
                padding: 8px
                .RatingTable_Body_Index
                    text-align: center
            th, td 
                font-family: $font_Bangers
                font-size: 1.5rem
                padding: 8px